In [1]:
import numpy as np
import pandas as pd
from math import * 
arr = np.random.randint(1,10,(2,8))
arr

array([[7, 1, 9, 7, 5, 5, 7, 3],
       [1, 3, 1, 6, 3, 9, 7, 3]])

In [2]:
x, y = [3, 5, 2, 9, 4, 1, 1, 6],[9, 1, 2, 8, 5, 4, 2, 5]
u = [
    [4,4,4,0,0,0,0],
    [0,5,0,5,3,5,0],
    [4,5,0,5,0,0,0],
    [0,5,0,3,0,0,5],
]

1.1 欧氏距离 Eucledian Distance


欧氏距离是最常用的距离计算公式，欧式距离可解释为连接两个点的线段的长度，衡量的是多维空间中各个点之间的绝对距离，欧式距离公式非常简单，使用勾股定理从这些点的笛卡尔坐标计算距离。，当数据很稠密并且连续时，这是一种很好的计算方式。

因为计算是基于各维度特征的绝对数值，所以欧氏度量需要保证各维度指标在相同的刻度级别，


缺点：尽管这是一种常用的距离度量，但欧式距离并不是尺度不变的，这意味着所计算的距离可能会根据特征的单位发生倾斜，比如对身高（cm）和体重（kg）两个单位不同的指标使用欧式距离可能使结果失效。通常，在使用欧式距离度量之前，需要对数据进行归一化处理。
此外，随着数据维数的增加，欧氏距离的作用也就越小。这与维数灾难（curse of dimensionality）有关。
用例：当你拥有低维数据且向量的大小非常重要时，欧式距离的效果非常好。如果在低维数据上使用欧式距离，则如 k-NN 和 HDBSCAN 之类的方法可达到开箱即用的效果。

In [9]:
x1 = [5.0]
x2 = [2.3]

In [10]:
# # 传统python实现
# def eucledian_distance(x, y):
#     '''x, y : 等长度的list '''
#     return sqrt(sum(pow(a - b,2) for a,b in zip(x,y) ))

# print(eucledian_distance(x, y))

# 使用numpy 改进 
import numpy as np
def eucledian_distance(x, y):
    '''x, y : 等长度的list '''
    # x,y = np.array(x), np.array(y)
    return np.sqrt(np.sum(np.power(np.array(x) - np.array(y),2)))

eucledian_distance(x1,x2)

2.7

In [106]:
# 1.5 标准化欧氏距离
def stand_euclidean(x,y,s):
    xy = (np.array(x) - np.array(y)) / s
    return np.sqrt(np.sum(np.power(xy, 2)))
stand_euclidean(x,y,1)

8.06225774829855

In [95]:
def test_similarity(func):
    similar = {}
    for i in range(len(u)):
        similar.setdefault(i,{})
        for j in range(len(u)):
            if i == j:
                similar.get(i).setdefault(j, 1)
                continue
            similar.get(i).setdefault(j, func(u[i],u[j]))
    return similar
pd.DataFrame(test_similarity(eucledian_distance))

          0         1         2         3
0  1.000000  9.591663  6.480741  8.185353
1  9.591663  1.000000  7.071068  7.937254
2  6.480741  7.071068  1.000000  6.708204
3  8.185353  7.937254  6.708204  1.000000

In [96]:
pd.DataFrame(test_similarity(manhattan_distance))

    0   1   2   3
0   1  22  10  17
1  22   1  12  15
2  10  12   1  11
3  17  15  11   1

1.2 曼哈顿距离 Manhattan Distance

In [11]:
# 传统python实现
def manhattan_distance(x, y):
    return sum(abs(a - b) for a,b in zip(x,y) )
manhattan_distance(x, y)

# 
def manhattan_distance(x,y):
    '''曼哈顿距离'''
    # xy = np.abs(x - y)
    return np.sum(np.abs(np.array(x) - np.array(y)))
manhattan_distance(x1, x2)

2.7

1.4 闵可夫斯基距离 Minkowski distance

In [13]:
# 传统python实现
def minkowski_distance(x, y, n):
    return pow(sum(pow((a - b), n) for a,b in zip(x,y) ), 1/n)
print("", minkowski_distance(x1, x2,2))
# 
def minkowski_distance(x,y,n):

    return np.power(
        np.sum(
            np.power(np.array(x) - np.array(y), n)
        ), 1/n
        )
print("", minkowski_distance(x1, x2, 2))

 2.7
 2.7

In [94]:
similar = {}
for i in range(len(u)):
    similar.setdefault(i,{})
    for j in range(len(u)):
        if i == j:
            similar.get(i).setdefault(j, 1)
            continue
        similar.get(i).setdefault(j, minkowski_distance(u[i],u[j], 4))
pd.DataFrame(similar)

          0         1         2         3
0  1.000000  6.553001  5.449632  5.908822
1  6.553001  1.000000  5.569212  6.058176
2  5.449632  5.569212  1.000000  5.472656
3  5.908822  6.058176  5.472656  1.000000

1.3 切比雪夫距离 Chebyshev Distance

In [14]:
# 函数
def chebyshev_distance(x,y):
    '''切比雪夫距离'''
    return max(abs(a - b) for a,b in zip(x,y))
# 使用
print("", chebyshev_distance(x1,x2))

def chebyshev_distance(x,y):
    '''切比雪夫距离'''
    return np.max(np.abs(np.array(x) - np.array(y)))

print("", chebyshev_distance(x1,x2))

 2.7
 2.7

In [97]:
pd.DataFrame(test_similarity(chebyshev_distance))

   0  1  2  3
0  1  5  5  5
1  5  1  5  5
2  5  5  1  5
3  5  5  5  1

In [15]:
# 函数
def minkowski(x,y,p):
    '''闵可夫斯基距离'''
    xy = np.abs(np.array(x) - np.array(y))
    tmp = np.sum(np.power(xy,p))
    return np.power(tmp, 1/p)
minkowski(x1,x2,3)

2.7

余弦相似度 Cosine Similarity

In [17]:
def cosine_similarity(x,y):  
    numerator = sum([a * b for a,b in zip(x,y)])
    denominator =  sqrt(sum([a*a for a in x])) * sqrt(sum([b*b for b in y]))
    return numerator / denominator * 1.0 
cosine_similarity(x1,x2)

def cosine_similarity(x,y):
    return np.dot(x,y) / (np.linalg.norm(x,2) * np.linalg.norm(y,2)) * 1.0
cosine_similarity(x,y)

1.0

In [23]:
cosine_similarity([5,4,5],[5,4,4])

0.9945358423571875

In [27]:
x = [0,0,1,3,4]
y = [2,3,4,5,0]
cosine_similarity(x,y) * 0.4

0.20282899481977706

In [26]:
x = [1,3]
y = [4,5]
cosine_similarity(x,y) * 2/5

0.37533724672684404

In [98]:
pd.DataFrame(test_similarity(cosine_similarity))

          0         1         2         3
0  1.000000  0.314970  0.639602  0.375823
1  0.314970  1.000000  0.671519  0.568191
2  0.639602  0.671519  1.000000  0.641006
3  0.375823  0.568191  0.641006  1.000000

Tanimoto系数（广义Jaccard相似系数）

In [99]:
def tanimoto(x,y):
    xy = np.dot(x,y)
    x = np.linalg.norm(x,2)
    y = np.linalg.norm(y,2)
    return xy / (x + y - xy)

In [100]:
pd.DataFrame(test_similarity(tanimoto))

          0         1         2         3
0  1.000000 -5.119482 -1.718561 -3.710127
1 -5.119482  1.000000 -1.528547 -1.727585
2 -1.718561 -1.528547  1.000000 -1.653247
3 -3.710127 -1.727585 -1.653247  1.000000

jaccard Similarity

杰卡德相似度

In [21]:
def jaccard_similarity(x,y):
    a = set.intersection(set(x),set(y))
    b = set.union(set(x),set(y))
    return len(a) / len(b)
jaccard_similarity(x1,x2)

0.0

In [107]:
pd.DataFrame(test_similarity(jaccard_similarity))

          0     1         2     3
0  1.000000  0.25  0.666667  0.25
1  0.250000  1.00  0.500000  1.00
2  0.666667  0.50  1.000000  0.50
3  0.250000  1.00  0.500000  1.00

In [13]:
def RMSE(y1,y2):
    '''
    :param y1:
    :param y2:
    :return:
    >>> a = [1,2,3]
    >>> b = [2,3,5]
    >>> print(RMSE(a,b))
    1.4142135623730951
    '''
    if len(y1) != len(y2):
        return -1
    y1, y2 = np.array(y1), np.array(y2)
    return np.sqrt(np.sum(np.power(y1 - y2, 2))/len(y1))


def MAE(y1, y2):
    '''
    :param y1:
    :param y2:
    :return: MAE 均方误差
    >>> a = [1,2,3]
    >>> b = [2,3,5]
    >>> MAE(a,b)
    1.1547005383792515
    '''
    if len(y1) != len(y2):
        return -1
    y1, y2 = np.array(y1), np.array(y2)
    return np.sqrt(np.sum(np.abs(y1 - y2))/len(y1))

In [15]:
a = [1,2,3]
b = [2,3,5]
RMSE(a,b)
# MAE(a,b)

1.4142135623730951

In [ ]:
{2: [
    {'movieId': 2959, 'title': 'Fight Club (1999)', 'genres': 'Action|Crime|Drama|Thriller', 'imdbId': 137523, 'tmdbId': 550, 'ratings': 3.975187754112997}, 
    {'movieId': 527, 'title': "Schindler's List (1993)", 'genres': 'Drama|War', 'imdbId': 108052, 'tmdbId': 424, 'ratings': 2.7697221727814845},
    {'movieId': 356, 'title': 'Forrest Gump (1994)', 'genres': 'Comedy|Drama|Romance|War', 'imdbId': 109830, 'tmdbId': 13, 'ratings': 2.5542273693194986}, 
    {'movieId': 116797, 'title': 'The Imitation Game (2014)', 'genres': 'Drama|Thriller|War', 'imdbId': 2084970, 'tmdbId': 205596, 'ratings': 2.3844371818347643}, 
    {'movieId': 44191, 'title': 'V for Vendetta (2006)', 'genres': 'Action|Sci-Fi|Thriller|IMAX', 'imdbId': 434409, 'tmdbId': 752, 'ratings': 2.3428834133945466}
    ]
}

In [33]:
a = 'adb'
a.lower()
a

'adb'